<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/contacto.css">
    <title>CV</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Christian Bravo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudios">Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experiencia">Experiencia</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contacto">Contatame</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <div class="card">
            <figure class="contenedor-imagen">
                <img src="/images/chris.jpg" alt="esta es una imagen">
            </figure>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="Email"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Celular</label>
                        <input type="number" class="form-control" id="exampleInputPassword1"
                            placeholder="Numero celular">
                    </div>
                    <div class="form-group">
                        <label for="menssage">Mensaje</label>
                        <textarea class="form-control" name="menssage" id="menssage" cols="5" rows="5"></textarea>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gracias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Gracias, pronto me contactare contigo
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js2/popper.js"></script>
    <script src="/js3/bootstrap.min.js"></script>
</body>

</html>