<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estudios.css">
    <title>CV</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Christian Bravo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Sobre mi<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/estudios">Estudios<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contatame</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <div class="card">
            <div class="contenedor-estudio">
                <figure class="contenedor-imagen">
                    <img src="/images/colegio.png" alt="esta es una imagen">
                </figure>
                <div class="card-body">
                    <h5 class="card-title"><strong>Colegio Mayor de San Bartolome</strong></h5>
                    <small>2001-2012</small>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eveniet
                        soluta ab blanditiis aspernatur velit placeat? Adipisci, aliquid, vitae inventore qui
                        consectetur aspernatur quibusdam a sapiente eligendi perspiciatis itaque magnam.</p>
                </div>
            </div>
            <hr>
            <div class="contenedor-estudio">
                <figure class="contenedor-imagen">
                    <img src="/images/Konrad_Lorenz.png" alt="esta es una imagen">
                </figure>
                <div class="card-body">
                    <h5 class="card-title"><strong>Universidad Konrad lorenz</strong></h5>
                    <small>2013-2018</small>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sit maxime
                        dolorum necessitatibus tempore quasi, veniam officiis? Facere quos voluptas nam, molestiae,
                        ratione culpa eum repudiandae quasi voluptate quisquam error.</p>
                </div>
            </div>
            <hr>
            <div class="contenedor-estudio">
                <figure class="contenedor-imagen">
                    <img src="/images/bictia.jpg" alt="esta es una imagen">
                </figure>
                <div class="card-body">
                    <h5 class="card-title"><strong>Bictia</strong></h5>
                    <small>2020-actualmente</small>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, unde, maiores,
                        maxime exercitationem consectetur voluptatem dolores vitae facere velit deserunt culpa
                        repellendus earum ducimus adipisci nobis iusto sunt aliquam molestias.</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js2/popper.js"></script>
    <script src="/js3/bootstrap.min.js"></script>
</body>

</html>