<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/experiencia.css">
    <title>CV</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Christian Bravo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Sobre mi<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudios">Estudios<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/experiencia">Experiencia</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <div class="card">
            <div class="card-header">
                <strong>GoDaddy </strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">Ingeniero de Soporte</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam tenetur
                    asperiores animi voluptas! Velit praesentium ut tempora asperiores in libero debitis labore amet
                    voluptatum dolorem, blanditiis quis, suscipit autem. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Numquam, in. Porro quaerat assumenda suscipit quibusdam, necessitatibus beatae
                    recusandae sequi accusantium totam harum aut dolores omnis vel nulla vero aperiam fugiat?</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong>Accenture </strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">Software Developer</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam tenetur
                    asperiores animi voluptas! Velit praesentium ut tempora asperiores in libero debitis labore amet
                    voluptatum dolorem, blanditiis quis, suscipit autem. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Numquam, in. Porro quaerat assumenda suscipit quibusdam, necessitatibus beatae
                    recusandae sequi accusantium totam harum aut dolores omnis vel nulla vero aperiam fugiat?</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong>Banco de la Republica </strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">FullStack Developer</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam tenetur
                    asperiores animi voluptas! Velit praesentium ut tempora asperiores in libero debitis labore amet
                    voluptatum dolorem, blanditiis quis, suscipit autem. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Numquam, in. Porro quaerat assumenda suscipit quibusdam, necessitatibus beatae
                    recusandae sequi accusantium totam harum aut dolores omnis vel nulla vero aperiam fugiat?</p>
            </div>
        </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js2/popper.js"></script>
    <script src="/js3/bootstrap.min.js"></script>
</body>

</html>