<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>CV</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Christian Bravo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Sobre mi<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudios">Estudios<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experiencia">Experiencia</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <div class="card">
            <figure class="contenedor-imagen">
                <img src="/images/chris.jpg" alt="esta es una imagen">
            </figure>
            <div class="card-body">
                <h5 class="card-title">CVn Profesional</h5>
                <p class="card-text">Altamente capacitado ingeniero electrónico de nivel básico, con experiencia y una
                    gran ética laboral. Familiarizado en la explicación de principios y procedimientos de ingeniería,
                    extremadamente complejos, a una gran variedad de audiencias de profesionales o profanos. Fuertes
                    capacidades para manejar simultáneamente distintos proyectos eléctricos o tareas de reparación, con
                    eficacia plena.</p>
                <h5 class="card-title">Habilidades y cualificaciones</h5>
                <ul>
                    <li>Excelente experiencia en análisis de circuitos.</li>
                    <li>Especialización en microprocesadores, diseños de control y sus reparaciones.</li>
                    <li>Experto en diseño y administración de sistemas de energía.</li>
                    <li>Sólida preparación en sistemas operativos UNIX, Windows y linux.</li>
                    <li>Alto conocimiento en lenguajes de programación’, incluyendo C, C++ y HTML.</li>
                </ul>
                <a href="/experiencia" class="btn btn-success">Mira mi experiencia</a>
            </div>
        </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js2/popper.js"></script>
    <script src="/js3/bootstrap.min.js"></script>
</body>

</html>